﻿@model CategoryNavigationModel

@if (Model.Categories.Count > 0)
{
    <div class="block block-category-navigation well box-shadow-wrapper">
 
        <div class="title main-title">
            <strong>@T("Categories")</strong>
        </div>
        <div class="listbox">
            <ul class="nav nav-list">
                @foreach (var category in Model.Categories)
                {
                    var categoryLineModel = new CategoryNavigationModel.CategoryLineModel
                    {
                        CurrentCategoryId = Model.CurrentCategoryId,
                        Category = category
                    };
                    @await Html.PartialAsync("_CategoryLine.Navigation", categoryLineModel)
                }
            </ul>
        </div>
    </div>
}
