﻿@using System.Text.Encodings.Web
@using Nop.Core
@model CustomerInfoModel
@inject Nop.Core.IWebHelper webHelper
@{
    Layout = "_ColumnsTwo";

    //title
    Html.AddTitleParts(T("PageTitle.Account").Text);
    //page class
    Html.AppendPageCssClassParts("html-account-page");
    Html.AppendPageCssClassParts("html-customer-info-page");
}
@section left
{
    @await Component.InvokeAsync("CustomerNavigation", new { selectedTabId = CustomerNavigationEnum.Info })
}
@if (Model.CountryEnabled && Model.StateProvinceEnabled)
{
    <script type="text/javascript" asp-location="Footer">
        $(document).ready(function () {
            $("#@Html.IdFor(model => model.CountryId)").on('change', function () {
                var selectedItem = $(this).val();
                var ddlStates = $("#@Html.IdFor(model => model.StateProvinceId)");
                var statesProgress = $("#states-loading-progress");
                statesProgress.show();
                $.ajax({
                    cache: false,
                    type: "GET",
                    url: "@(Url.RouteUrl("GetStatesByCountryId"))",
                    data: { "countryId": selectedItem, "addSelectStateItem": "true" },
                    success: function (data) {
                        ddlStates.html('');
                        $.each(data, function (id, option) {
                            ddlStates.append($('<option></option>').val(option.id).html(option.name));
                        });
                        statesProgress.hide();
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        alert('Failed to retrieve states.');
                        statesProgress.hide();
                    }
                });
            });
        });
    </script>
}
<div class="page account-page customer-info-page">
    <div class="page-title panel-heading">
        <h1>@T("Account.MyAccount") - @T("Account.CustomerInfo")</h1>
    </div>
    <fieldset class="page-body panel-body from-panel">
        <form asp-route="CustomerInfo" method="post">
            <div asp-validation-summary="ModelOnly" class="message-error"></div>
            <fieldset>
                <div><h3>@T("Account.YourPersonalDetails")</h3></div>
                <div class="form-fields form-horizontal">
                    @if (Model.GenderEnabled)
                    {
                        <div class="form-group">
                            <label class="control-label col-xs-3 col-sm-2 col-md-2">@T("Account.Fields.Gender")</label>
                            <div class="col-xs-9 col-sm-6 col-md-6">
                                <label class="radio-inline" for="gender-male">
                                    <input type="radio" asp-for="Gender" value="M" checked="@(Model.Gender == "M")" id="gender-male" />
                                    <span class="forcheckbox">@T("Account.Fields.Gender.Male")</span>
                                </label>
                                <label class="radio-inline" for="gender-female">
                                    <input type="radio" asp-for="Gender" value="F" checked="@(Model.Gender == "F")" id="gender-female" />
                                    <span class="forcheckbox">@T("Account.Fields.Gender.Female")</span>
                                </label>
                            </div>
                        </div>
                    }
                    <div class="form-group">
                        <label asp-for="FirstName" class="col-sm-2 col-md-2 control-label" asp-postfix=":"></label>
                        <div class="visible-xs form-title-rquired"><nop-required /></div>
                        <div class="col-sm-6 col-md-6">
                            <input asp-for="FirstName" class="first-name form-control" />
                        </div>
                        <div class="col-sm-4 col-md-4">
                            <div class="visible-lg visible-md visible-sm form-title-rquired"><nop-required /></div>
                            <span asp-validation-for="FirstName"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="LastName" class="col-sm-2 col-md-2 control-label" asp-postfix=":"></label>
                        <div class="visible-xs form-title-rquired"><nop-required /></div>
                        <div class="col-sm-6 col-md-6">
                            <input asp-for="LastName" class="form-control" />
                        </div>
                        <div class="col-sm-4 col-md-4">
                            <div class="visible-lg visible-md visible-sm form-title-rquired"><nop-required /></div>
                            <span asp-validation-for="LastName"></span>
                        </div>
                    </div>
                    @if (Model.DateOfBirthEnabled)
                    {
                        <div class="form-group">
                            <div class="from-group date-of-birth">
                                <label class="control-label col-xs-12 col-sm-2 col-md-2">@T("Account.Fields.DateOfBirth")</label>
                                <div class="col-xs-12 col-sm-6 col-md-6 date-birth-text">
                                    <nop-date-picker asp-day-name="@Html.NameFor(x => x.DateOfBirthDay)"
                                                     asp-month-name="@Html.NameFor(x => x.DateOfBirthMonth)"
                                                     asp-year-name="@Html.NameFor(x => x.DateOfBirthYear)"
                                                     asp-begin-year="@(DateTime.Now.Year - 110)"
                                                     asp-end-year="@(DateTime.Now.Year)"
                                                     asp-selected-day="@Model.DateOfBirthDay"
                                                     asp-selected-month="@Model.DateOfBirthMonth"
                                                     asp-selected-year="@Model.DateOfBirthYear" />
                                    @if (Model.DateOfBirthRequired)
                                    {
                                        <nop-required />
                                    }
                                    <span asp-validation-for="DateOfBirthDay"></span>
                                    <span asp-validation-for="DateOfBirthMonth"></span>
                                    <span asp-validation-for="DateOfBirthYear"></span>
                                </div>
                            </div>
                        </div>
                    }
                    <div class="form-group">
                        <label asp-for="Email" class="col-sm-2 col-md-2 control-label" asp-postfix=":"></label>
                        <div class="visible-xs form-title-rquired"><nop-required /></div>
                        <div class="col-sm-6 col-md-6">
                            <input asp-for="Email" class="form-control" />
                        </div>
                        <div class="col-sm-4 col-md-4">
                            <div class="visible-lg visible-md visible-sm form-title-rquired"><nop-required /></div>
                            <span asp-validation-for="Email"></span>
                        </div>
                    </div>
                    @if (!string.IsNullOrEmpty(Model.EmailToRevalidate))
                    {
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-6 col-md-offset-2 col-md-6">
                                <label asp-for="EmailToRevalidate" class="control-label col-sm-2 col-md-2"></label>
                                <span class="email-to-revalidate">@Model.EmailToRevalidate</span>
                                <span class="email-to-revalidate-note"><em>@T("Account.Fields.EmailToRevalidate.Note")</em></span>
                            </div>
                        </div>
                    }
                    @if (Model.UsernamesEnabled)
                    {
                        if (Model.AllowUsersToChangeUsernames)
                        {
                            <div class="form-group">
                                <label asp-for="Username" class="control-label col-sm-2 col-md-2" asp-postfix=":"></label>
                                <div class="visible-xs form-title-rquired"><nop-required /></div>
                                <div class="col-sm-6 col-md-6">
                                    <input asp-for="Username" class="form-control" />
                                </div>
                                <div class="col-sm-4 col-md-4 check-availability">
                                    <div class="visible-lg visible-md visible-sm form-title-rquired"><nop-required /></div>
                                    @Html.ValidationMessageFor(model => model.Username)
                                    @if (Model.CheckUsernameAvailabilityEnabled)
                                    {
                                        @await Html.PartialAsync("_CheckUsernameAvailability")
                                    }
                                </div>
                            </div>
                        }
                        else
                        {
                            <div class="form-group">
                                <label asp-for="Username" class="col-sm-2 col-md-2 control-label" asp-postfix=":"></label>
                                <div class="col-sm-6 col-md-6">
                                    <span class="readonly-username">@Model.Username</span>
                                </div>
                            </div>

                        }
                    }
                </div>
            </fieldset>
            @if (Model.CompanyEnabled || Model.DisplayVatNumber)
            {
                <fieldset>
                    <div><h3>@T("Account.CompanyDetails")</h3></div>
                    <div class="form-horizontal">
                        @if (Model.CompanyEnabled)
                        {
                            <div class="form-group">
                                <label asp-for="Company" class="control-label col-sm-2 col-md-2" asp-postfix=":"></label>
                                <div class="visible-xs form-title-rquired"><nop-required /></div>
                                <div class="col-sm-6 col-md-6">
                                    <input asp-for="Company" class="form-control" />
                                </div>
                                <div class="col-sm-4 col-md-4">
                                    @if (Model.CompanyRequired)
                                    {
                                        <div class="visible-lg visible-md visible-sm form-title-rquired"><nop-required /></div>
                                    }
                                    <span asp-validation-for="Company"></span>
                                </div>
                            </div>

                        }
                        @if (Model.DisplayVatNumber)
                        {
                            <div class="form-group">
                                <label asp-for="VatNumber" class="control-label col-sm-2 col-md-2" asp-postfix=":"></label>
                                <div class="col-sm-6 col-md-6">
                                    <input asp-for="VatNumber" class="form-control" />
                                    <span class="help-block"><em>@T("Account.Fields.VatNumber.Note")</em></span>
                                </div>
                            </div>
                        }
                    </div>
                </fieldset>
            }
            @if (Model.StreetAddressEnabled ||
                      Model.StreetAddress2Enabled ||
                      Model.ZipPostalCodeEnabled ||
                      Model.CityEnabled ||
                      Model.CountyEnabled ||
                      Model.CountryEnabled)
            {
                <fieldset>
                    <div><h3>@T("Account.YourAddress")</h3></div>
                    <div class="form-horizontal">
                        @if (Model.StreetAddressEnabled)
                        {
                            <div class="form-group">
                                <label asp-for="StreetAddress" class="control-label col-sm-2 col-md-2" asp-postfix=":"></label>
                                <div class="visible-xs form-title-rquired"><nop-required /></div>
                                <div class="col-sm-6 col-md-6">
                                    <input asp-for="StreetAddress" class="form-control" />
                                </div>
                                <div class="col-sm-4 col-md-4">
                                    @if (Model.StreetAddressRequired)
                                    {
                                        <div class="visible-lg visible-md visible-sm form-title-rquired"><nop-required /></div>
                                    }
                                    <span asp-validation-for="StreetAddress"></span>
                                </div>
                            </div>
                        }
                        @if (Model.StreetAddress2Enabled)
                        {
                            <div class="form-group">
                                <label asp-for="StreetAddress2" class="control-label col-sm-2 col-md-2" asp-postfix=":"></label>
                                <div class="visible-xs form-title-rquired"><nop-required /></div>
                                <div class="col-sm-6 col-md-6">
                                    <input asp-for="StreetAddress2" class="form-control" />
                                </div>
                                <div class="col-sm-4 col-md-4">
                                    @if (Model.StreetAddress2Required)
                                    {
                                        <div class="visible-lg visible-md visible-sm form-title-rquired"><nop-required /></div>
                                    }
                                    <span asp-validation-for="StreetAddress2"></span>
                                </div>
                            </div>
                        }
                        @if (Model.ZipPostalCodeEnabled)
                        {
                            <div class="form-group">
                                <label asp-for="ZipPostalCode" class="control-label col-sm-2 col-md-2" asp-postfix=":"></label>
                                <div class="visible-xs form-title-rquired"><nop-required /></div>
                                <div class="col-sm-6 col-md-6">
                                    <input asp-for="ZipPostalCode" class="form-control" />
                                </div>
                                <div class="col-sm-4 col-md-4">
                                    @if (Model.ZipPostalCodeRequired)
                                    {
                                        <div class="visible-lg visible-md visible-sm form-title-rquired"><nop-required /></div>
                                    }
                                    <span asp-validation-for="ZipPostalCode"></span>
                                </div>
                            </div>

                        }
                        @if (Model.CityEnabled)
                        {
                            <div class="form-group">
                                <label asp-for="City" class="control-label col-sm-2 col-md-2" asp-postfix=":"></label>
                                <div class="visible-xs form-title-rquired"><nop-required /></div>
                                <div class="col-sm-6 col-md-6">
                                    <input asp-for="City" class="form-control" />
                                </div>
                                <div class="col-sm-4 col-md-4">
                                    @if (Model.CityRequired)
                                    {
                                        <div class="visible-lg visible-md visible-sm form-title-rquired"><nop-required /></div>
                                    }
                                    <span asp-validation-for="City"></span>
                                </div>
                            </div>
                        }
                        @if (Model.CountyEnabled)
                        {
                            <div class="form-group">
                                <label asp-for="County" class="control-label col-sm-2 col-md-2" asp-postfix=":"></label>
                                <div class="visible-xs form-title-rquired"><nop-required /></div>
                                <div class="col-sm-6 col-md-6">
                                    <input asp-for="County" class="form-control" />
                                </div>
                                <div class="col-sm-4 col-md-4">
                                    @if (Model.CountryRequired)
                                    {
                                        <div class="visible-lg visible-md visible-sm form-title-rquired"><nop-required /></div>
                                    }
                                    <span asp-validation-for="County"></span>
                                </div>
                            </div>
                        }
                        @if (Model.CountryEnabled)
                        {
                            <div class="form-group">
                                <label asp-for="CountryId" class="control-label col-sm-2 col-md-2" asp-postfix=":"></label>
                                <div class="visible-xs form-title-rquired"><nop-required /></div>
                                <div class="col-sm-6 col-md-6">
                                    <select asp-for="CountryId" class="form-control dropdown-toggle category-iteam category-select" asp-items="Model.AvailableCountries"></select>
                                </div>
                                <div class="col-sm-4 col-md-4">
                                    @if (Model.CountryRequired)
                                    {
                                        <div class="visible-lg visible-md visible-sm form-title-rquired"><nop-required /></div>
                                    }
                                    <span asp-validation-for="CountryId"></span>
                                </div>
                            </div>
                        }
                        @if (Model.CountryEnabled && Model.StateProvinceEnabled)
                        {
                            <div class="form-group">
                                <label asp-for="StateProvinceId" class="control-label col-sm-2 col-md-2" asp-postfix=":"></label>
                                <div class="visible-xs form-title-rquired"><nop-required /></div>
                                <div class="col-sm-6 col-md-6">
                                    <select asp-for="StateProvinceId" class="form-control dropdown-toggle category-iteam" asp-items="Model.AvailableStates"></select>
                                </div>
                                <div class="col-sm-4 col-md-4">
                                    @if (Model.StateProvinceRequired)
                                    {
                                        <div class="visible-lg visible-md visible-sm form-title-rquired"><nop-required /></div>
                                    }
                                    <span asp-validation-for="StateProvinceId"></span>
                                    <span id="states-loading-progress" style="display: none;" class="please-wait">@T("Common.Wait...")</span>
                                </div>
                            </div>
                        }
                    </div>
                </fieldset>
            }
            @if (Model.PhoneEnabled || Model.FaxEnabled)
            {
                <fieldset>
                    <div><h3>@T("Account.YourContactInformation")</h3></div>
                    <div class="form-horizontal">
                        @if (Model.PhoneEnabled)
                        {
                            <div class="form-group">
                                <label asp-for="Phone" class="control-label col-sm-2 col-md-2" asp-postfix=":"></label>
                                <div class="visible-xs form-title-rquired"><nop-required /></div>
                                <div class="col-sm-6 col-md-6">
                                    <input asp-for="Phone" class="form-control" />
                                </div>
                                <div class="col-sm-4 col-md-4">
                                    @if (Model.PhoneRequired)
                                    {
                                        <div class="visible-lg visible-md visible-sm form-title-rquired"><nop-required /></div>
                                    }
                                    <span asp-validation-for="Phone"></span>
                                </div>
                            </div>
                        }
                        @if (Model.FaxEnabled)
                        {
                            <div class="form-group">
                                <label asp-for="Fax" class="control-label col-sm-2 col-md-2" asp-postfix=":"></label>
                                <div class="visible-xs form-title"><nop-required /></div>
                                <div class="controls col-sm-6 col-md-6">
                                    <input asp-for="Fax" class="form-control" />
                                </div>
                                <div class="col-sm-4 col-md-4">
                                    @if (Model.FaxRequired)
                                    {
                                        <div class="visible-lg visible-md visible-sm form-title-rquired"><nop-required /></div>
                                    }
                                    <span asp-validation-for="Fax"></span>
                                </div>
                            </div>
                        }
                    </div>
                </fieldset>
            }
            @if (Model.NewsletterEnabled || Model.CustomerAttributes.Count > 0)
            {
                <fieldset>
                    <div><h3>@T("Account.Options")</h3></div>
                    <div class="form-horizontal">
                        @if (Model.NewsletterEnabled)
                        {
                            <div class="form-group">
                                <label asp-for="Newsletter" class="control-label news-letter col-xs-4 col-sm-2 col-md-2" asp-postfix=":"></label>
                                <div class="col-xs-6 col-sm-6 col-md-6">
                                    <input asp-for="Newsletter" />
                                    <span asp-validation-for="Newsletter"></span>
                                </div>
                            </div>
                        }
                        @if (Model.CustomerAttributes.Count > 0)
                        {
                            @await Html.PartialAsync("_CustomerAttributes", Model.CustomerAttributes)
                        }
                    </div>
                </fieldset>
            }
            @if (Model.AllowCustomersToSetTimeZone || Model.SignatureEnabled)
            {
                <fieldset>
                    <div><h3>@T("Account.Preferences")</h3></div>
                    <div class="form-horizontal">
                        @if (Model.AllowCustomersToSetTimeZone)
                        {
                            <div class="form-group">
                                <label asp-for="TimeZoneId" class="control-label col-sm-2 col-md-2" asp-postfix=":"></label>
                                <div class="col-sm-6 col-md-6">
                                    <select asp-for="TimeZoneId" class="form-control dropdown-toggle category-iteam category-select" asp-items="Model.AvailableTimeZones"></select>
                                    <span asp-validation-for="TimeZoneId"></span>
                                </div>
                            </div>
                        }
                        @if (Model.SignatureEnabled)
                        {
                            <div class="form-group">
                                <label asp-for="Signature" class="control-label col-sm-2 col-md-2" asp-postfix=":"></label>
                                <div class="col-sm-6 col-md-6">
                                    <textarea asp-for="Signature" class="account-signature-text form-control customer-info-textarea account-signature-text"></textarea>
                                </div>
                            </div>
                        }
                    </div>
                </fieldset>
            }
            @if (Model.NumberOfExternalAuthenticationProviders > 0)
            {
                <fieldset>
                    <div><h3>@T("Account.AssociatedExternalAuth")</h3></div>
                    <div>
                        <div class="form-group">
                            <div class="col-sm-12 col-md-12">
                                @if (Model.AssociatedExternalAuthRecords.Count > 0)
                                {
                                    //existing associated external records
                                    <div class="panel panel-default">
                                        <table class="data-table extrnal-table table table-bordered">
                                            <colgroup>
                                                <col />
                                                <col />
                                                <col />
                                                <col />
                                            </colgroup>
                                            <thead>
                                                <tr>
                                                    <th class="a-center auth-method-name">
                                                        @T("Account.AssociatedExternalAuth.AuthMethodName")
                                                    </th>
                                                    <th class="a-center email">
                                                        @T("Account.AssociatedExternalAuth.Email")
                                                    </th>
                                                    <th class="a-center external-id">
                                                        @T("Account.AssociatedExternalAuth.ExternalIdentifier")
                                                    </th>
                                                    @if (Model.AllowCustomersToRemoveAssociations)
                                                    {
                                                        <th class="a-center remove">
                                                            @T("Account.AssociatedExternalAuth.Remove")
                                                        </th>
                                                    }
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (var item in Model.AssociatedExternalAuthRecords)
                                                {
                                                    <tr>
                                                        <td class="a-left auth-method-name">
                                                            @item.AuthMethodName
                                                        </td>
                                                        <td class="a-left email">
                                                            @item.Email
                                                        </td>
                                                        <td class="a-left external-id">
                                                            @CommonHelper.EnsureMaximumLength(item.ExternalIdentifier, 40, "...")
                                                        </td>
                                                        @if (Model.AllowCustomersToRemoveAssociations)
                                                        {
                                                            <td class="a-center remove">
                                                                <a href="@Url.Action("RemoveExternalAssociation", "Customer", new { id = item.Id })">@T("Account.AssociatedExternalAuth.Remove")</a>
                                                            </td>
                                                        }
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                }

                                @if (Model.NumberOfExternalAuthenticationProviders > Model.AssociatedExternalAuthRecords.Count)
                                {
                                    //we can add more external records
                                    var loginUrl = Url.RouteUrl("Login", null, webHelper.CurrentRequestProtocol);
                                    <div class="form-fields add-more-external-records">
                                        @T("Account.AssociatedExternalAuth.AddMoreRecords")
                                        <a href="@loginUrl">@loginUrl</a>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </fieldset>
            }
            @if (Model.GdprConsents.Count > 0)
            {
                <div class="fieldset">
                    <div class="title">
                        <strong>@T("Account.UserAgreement")</strong>
                    </div>
                    <div class="form-fields">
                        @foreach (var consent in Model.GdprConsents)
                        {
                            if (consent.IsRequired)
                            {
                                <script asp-location="Footer">
                                    $(document).ready(function() {
                                        $('#save-info-button').on('click', function() {
                                            if ($('#consent@(consent.Id)').is(':checked')) {
                                                    //do some stuff
                                                    return true;
                                                } else {
                                                    //just show validation errors, don't post
                                               alert('@Html.Raw(JavaScriptEncoder.Default.Encode(consent.RequiredMessage))');
                                                    return false;
                                                }
                                            });
                                    });
                                </script>
                            }
                            <div class="inputs accept-consent">
                                <input id="consent@(consent.Id)" type="checkbox" name="consent@(consent.Id)" checked="@consent.Accepted" />
                                <label for="consent@(consent.Id)">@consent.Message</label>
                            </div>
                        }
                    </div>
                </div>
            }
            <div class="form-group">
                <div class="col-sm-offset-2 col-md-offset-2 col-md-2 save-btn-mt">
                    <input type="submit" value="@T(" common.save")" name="save-info-button" class="btn btn-primary save-btn save-customer-info-button" />
                </div>
            </div>
        </form>
    </fieldset>
</div>
<script asp-location="Footer">
    function removeexternalassociation(itemId) {
        if (confirm('@T("Common.AreYouSure")')) {
            var postData = {
                id: itemId
            };
            addAntiForgeryToken(postData);
            $.ajax({
                cache: false,
                type: 'POST',
                url: '@Url.Action("RemoveExternalAssociation", "Customer")',
                data: postData,
                dataType: 'json',
                success: function (data) {
                    location.href = data.redirect;
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    alert('Failed to delete');
                }
            });
        }
        return false;
    }
</script>
