﻿@model LoginModel
@using System.Net
@using Nop.Core
@inject IWebHelper webHelper
@{
    Layout = "_ColumnsOne";

    //title
    Html.AddTitleParts(T("PageTitle.Login").Text);
    //page class
    Html.AppendPageCssClassParts("html-login-page");

    //register URL with return URL (if specified)
    var registerUrl = Url.RouteUrl("Register", null, webHelper.CurrentRequestProtocol);
    if (!string.IsNullOrEmpty(this.Context.Request.Query["returnUrl"]))
    {
        registerUrl = webHelper.ModifyQueryString(registerUrl, "returnurl", this.Context.Request.Query["returnUrl"]);
    }
}
<div class="page login-page">
    <div class="page-title">
        <h1>@T("Account.Login.Welcome")</h1>
    </div>
    @await Html.PartialAsync("_ExternalAuthentication.Errors")
    @Html.Partial("_ExternalAuthentication.Errors")
    <div class="page-body">
        <div class="customer-blocks">
           <div class="row">
            @if (Model.CheckoutAsGuest)
            {
                <div class="col-sm-6 col-md-6">
                    <div class="new-wrapper checkout-as-guest-or-register-block">
                        <fieldset>
                            <legend>@T("Account.Login.CheckoutAsGuestOrRegister")</legend>
                            <div class="text">
                                @await Component.InvokeAsync("TopicBlock", new { systemName = "CheckoutAsGuestOrRegister" })
                                <div class="buttons col-md-8 pull-right">
                                    <div class="register-checkoutbtn-wrapper">
                                        <input type="button" class="btn btn-default checkout-as-guest-button" onclick="location.href='@Url.RouteUrl("Checkout")'" value="@T("Account.Login.CheckoutAsGuest")" />
                                        <input type="button" class="btn btn-default register-button" onclick="location.href='@registerUrl'" value="@T("Account.Register")" />
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                </div>
            }
            else
            {
                <div class="col-sm-6 col-md-6">
                    <div class="new-wrapper register-block">
                        <fieldset>
                            <legend>@T("Account.Login.NewCustomer")</legend>
                            <div class="text">
                                @T("Account.Login.NewCustomerText")
                                <div class="form-group">
                                    <label class="control-label"></label>
                                    <div class="controls">
                                        <input type="button" class="btn btn-default register-button pull-right" onclick="location.href='@registerUrl'" value="@T("Account.Register")" />  
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                </div>
            }
            <div class="col-sm-6 col-md-6">
                <form asp-route="Login" asp-route-returnurl="@Context.Request.Query["ReturnUrl"]" method="post">
                     <legend>@T("Account.Login.ReturningCustomer")</legend>
                    <div class="returning-wrapper">
                        <fieldset>
                            <div class="form-fields">
                                <div asp-validation-summary="ModelOnly" class="message-error  alert alert-danger">@T("Account.Login.Unsuccessful")</div>
                                @if (Model.UsernamesEnabled)
                                {
                                <div class="form-group">
                                    <label asp-for="Username" class="col-md-2 control-label" asp-postfix=":"></label>
                                    <div class="col-md-12">
                                        <input asp-for="Username" class="username form-control" autofocus="autofocus" />
                                        <span asp-validation-for="Username"></span>
                                    </div>
                                </div>
                                }
                                else
                                {
                                <div class="form-group">
                                    <label asp-for="Email" class="col-md-2 control-label" asp-postfix=":"></label>
                                    <div class="col-md-12">
                                        <input asp-for="Email" class="email form-control" autofocus="autofocus" />
                                        <span asp-validation-for="Email"></span>
                                    </div>
                                </div>
                                }
                                <div class="form-group">
                                    <label asp-for="Password" class="col-md-2 control-label" asp-postfix=":"></label>
                                    <div class="col-md-12">
                                        <input asp-for="Password" class="password form-control" />
                                        <span asp-validation-for="Password"></span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="remember-me">
                                        <div class="checkbox">
                                            <input asp-for="RememberMe" class="checkbox" />
                                            <label asp-for="RememberMe"></label>
                                            <span class="forgot-password">
                                                <a asp-route="PasswordRecovery">@T("Account.Login.ForgotPassword")</a>
                                            </span>
                                        </div>
                                    </div>
                                </div>

                                @if (Model.DisplayCaptcha)
                                {
                                <div class="form-group">
                                    <div class="captcha-box col-md-12">
                                        <nop-captcha />
                                    </div>
                                </div>
                                }
                                <div class="form-group">
                                    <div class="controls col-md-2">
                                        <input class="btn btn-default login-button" type="submit" value="@T("Account.Login.LoginButton")" />
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                </form>
            </div>
            </div>
            <div class="row">
                <div class="external-authentication col-sm-12 col-md-12">
                    @await Component.InvokeAsync("ExternalMethods", "ExternalAuthentication")
                </div>
            </div>
            
        </div>
    </div> 
</div>
<div class="row">
    <div class="col-sm-12 col-md-12 login-abouts">
        @await Component.InvokeAsync("TopicBlock", new { systemName = "LoginRegistrationInfo" })
    </div>
</div>