﻿@model PasswordRecoveryModel

@{
    Layout = "_ColumnsOne";

    //title
    Html.AddTitleParts(T("PageTitle.PasswordRecovery").Text);
    //page class
    Html.AppendPageCssClassParts("html-password-recovery-page");
}
<div class="page password-recovery-page">
    <div class="page-title panel-heading">
        <h1>@T("Account.PasswordRecovery")</h1>
    </div>
    <div class="page-body panel-body from-panel">
        @if (!string.IsNullOrEmpty(Model.Result))
        {
            <div class="alert alert-info">
                @Model.Result
            </div>
        }
        <form asp-route="PasswordRecovery" method="post">
            <div asp-validation-summary="ModelOnly" class="message-error"></div>
            <div class="description alert alert-info">@T("Account.PasswordRecovery.Tooltip")</div>
            <div class="form-horizontal">
                <div class="form-group row">
                    <label asp-for="Email" class = "control-label col-sm-3 col-md-2 password-text" asp-postfix=":"></label>
                    <div class="visible-xs form-title-rquired"><nop-required /></div>
                    <div class="col-sm-3 col-md-3 col-xs-12">
                        <input asp-for="Email" class="email form-control" />
                    </div>
                    <div class="col-sm-4 col-md-4 col-xs-12">
                        <div class="visible-lg visible-md visible-sm form-title-rquired"><nop-required /></div>
                        <span asp-validation-for="Email"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-offset-3 col-md-offset-2 col-sm-2 col-md-2">
                        <input type="submit" name="send-email" class="btn btn-default password-recovery-button" value="@T("Account.PasswordRecovery.RecoverButton")" />
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
