﻿@model IList<ManufacturerBriefInfoModel>

@if (Model.Count > 0)
{
    <div class="manufacturers">
	MAAAAAAAAAAAAAAA
        @if (Model.Count == 1)
        {
            <strong>@T("Products.Manufacturer"):</strong>
        }
        else
        {
            <span>@T("Products.Manufacturers"):</span>
        }
        <span class="value">
            @for (var i = 0; i < Model.Count; i++)
            {
                var item = Model[i];
                <a href="@Url.RouteUrl("Manufacturer", new { SeName = item.SeName })">@item.Name</a>
                if (i != Model.Count - 1)
                {
                    <span class="separator">,</span>
                }
            }
        </span>
    </div>
}