﻿@model ProductReviewsModel
@using Nop.Core

@{
    Layout = "_ColumnsOne";

    //title
    Html.AddTitleParts(Model.ProductName);
    Html.AddTitleParts(T("PageTitle.ProductReviews").Text);
    //page class
    Html.AppendPageCssClassParts("html-product-reviews-page");
}
<div class="page product-reviews-page">
    <div class="page-title panel-heading">
        <h1>@T("Reviews.ProductReviewsFor") <a href="@Url.RouteUrl("Product", new { SeName = Model.ProductSeName })">@Model.ProductName</a></h1>
    </div>
    <div class="page-body panel-body from-panel">
        @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.ProductReviewsPageTop, additionalData = Model })
        @if (Model.AddProductReview.SuccessfullyAdded)
        {
            <div class="result alert alert-success">
                @Model.AddProductReview.Result
            </div>
        }
        else
        {
            <div class="write-review" id="review-form">
                <div class="title">
                    <strong>@T("Reviews.Write")</strong>
                </div>
                <form asp-route="ProductReviews" method="post">
                    <div asp-validation-summary="ModelOnly" class="message-error"></div>
                    <div class="form-horizontal">
                        <div class="form-group">
                            <label asp-for="AddProductReview.Title" class="control-label col-sm-4 col-md-4" asp-postfix=":"></label>
                            <div class="visible-xs form-title-rquired"><nop-required /></div>
                            <div class="col-sm-5 col-md-5">
                                <input asp-for="AddProductReview.Title" class="review-title form-control" asp-disabled="@(!Model.AddProductReview.CanCurrentCustomerLeaveReview)" />
                            </div>
                            <div class="col-sm-3 col-md-3">
                                <div class="visible-lg visible-md visible-sm form-title-rquired"><nop-required /></div>
                                <span asp-validation-for="AddProductReview.Title"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label asp-for="AddProductReview.ReviewText" class="control-label col-sm-4 col-md-4" asp-postfix=":"></label>
                            <div class="visible-xs form-title-rquired"><nop-required /></div>
                            <div class="col-sm-5 col-md-5">
                                <textarea asp-for="AddProductReview.ReviewText" class="review-text form-control" asp-disabled="@(!Model.AddProductReview.CanCurrentCustomerLeaveReview)"></textarea>
                            </div>
                            <div class="col-sm-3 col-md-3">
                                <div class="visible-lg visible-md visible-sm form-title-rquired"><nop-required /></div>
                                <span asp-validation-for="AddProductReview.ReviewText"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="review-rating">
                                <label asp-for="AddProductReview.Rating" class="control-label col-xs-2 col-sm-4 col-md-4" asp-postfix=":"></label>
                                <div class="col-xs-9 col-sm-5 col-md-5 rating-text">
                                    <div class="first name-description">@T("Reviews.Fields.Rating.Bad")</div>
                                    <div class="rb rating-wrapper">
                                        <ul>
                                            <li>
                                                <input asp-for="AddProductReview.Rating" value="1" type="radio" id="addproductrating_1" />
                                                <input asp-for="AddProductReview.Rating" value="2" type="radio" id="addproductrating_2" />
                                                <input asp-for="AddProductReview.Rating" value="3" type="radio" id="addproductrating_3" />
                                                <input asp-for="AddProductReview.Rating" value="4" type="radio" id="addproductrating_4" />
                                                <input asp-for="AddProductReview.Rating" value="5" type="radio" id="addproductrating_5" />
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="last">@T("Reviews.Fields.Rating.Excellent")</div>
                                </div>
                            </div>
                        </div>
                        @if (Model.ReviewTypeList.Count > 0)
                        {
                            foreach (var additionalReview in Model.AddAdditionalProductReviewList.OrderBy(ob => ob.DisplayOrder).ToList())
                            {
                                var curAdditionalReview = Model.AddAdditionalProductReviewList.IndexOf(additionalReview);
                                <div class="review-rating">
                                    <div class="name-description">
                                        <div class="tooltip">
                                            <label>@Html.Raw(additionalReview.Name):</label>
                                            <span class="tooltiptext">@Html.Raw(additionalReview.Description)</span>
                                        </div>
                                    </div>
                                    <div class="rating-wrapper">
                                        <div class="label first">@T("Reviews.Fields.Rating.Bad")</div>
                                        <div class="rating-options">
                                            <input asp-for="@Model.AddAdditionalProductReviewList[curAdditionalReview].ReviewTypeId" value="@(additionalReview.ReviewTypeId)" type="hidden" />
                                            <input asp-for="@Model.AddAdditionalProductReviewList[curAdditionalReview].Name" value="@(additionalReview.Name)" type="hidden" />
                                            <input asp-for="@Model.AddAdditionalProductReviewList[curAdditionalReview].Description" value="@(additionalReview.Description)" type="hidden" />
                                            <input asp-for="@Model.AddAdditionalProductReviewList[curAdditionalReview].DisplayOrder" value="@(additionalReview.DisplayOrder)" type="hidden" />
                                            <input asp-for="@Model.AddAdditionalProductReviewList[curAdditionalReview].IsRequired" value="@(additionalReview.IsRequired)" type="hidden" />

                                            <input asp-for="@Model.AddAdditionalProductReviewList[curAdditionalReview].Rating" value="0" type="radio" id="addproductratingext_0_@(additionalReview.ReviewTypeId)" style="display: none;" />
                                            <input asp-for="@Model.AddAdditionalProductReviewList[curAdditionalReview].Rating" value="1" type="radio" id="addproductratingext_1_@(additionalReview.ReviewTypeId)" />
                                            <input asp-for="@Model.AddAdditionalProductReviewList[curAdditionalReview].Rating" value="2" type="radio" id="addproductratingext_2_@(additionalReview.ReviewTypeId)" />
                                            <input asp-for="@Model.AddAdditionalProductReviewList[curAdditionalReview].Rating" value="3" type="radio" id="addproductratingext_3_@(additionalReview.ReviewTypeId)" />
                                            <input asp-for="@Model.AddAdditionalProductReviewList[curAdditionalReview].Rating" value="4" type="radio" id="addproductratingext_4_@(additionalReview.ReviewTypeId)" />
                                            <input asp-for="@Model.AddAdditionalProductReviewList[curAdditionalReview].Rating" value="5" type="radio" id="addproductratingext_5_@(additionalReview.ReviewTypeId)" />
                                        </div>
                                        <div class="label last">@T("Reviews.Fields.Rating.Excellent")</div>
                                    </div>
                                </div>
                            }
                        }
                        @if (Model.AddProductReview.DisplayCaptcha)
                        {
                            <div class="form-group">
                                <div class="captcha-box col-sm-offset-4 col-md-offset-4 col-md-8">
                                    <nop-captcha />
                                </div>
                            </div>
                        }
                        <div class="form-group">
                            <div class="col-sm-offset-4 col-md-offset-4 col-md-8">
                                <input type="submit" name="add-review" class="btn btn-primary write-product-review-button" value="@T("Reviews.SubmitButton")" />
                            </div>
                        </div>
                    </div>

                </form>
            </div>
        }
        @if (Model.Items.Count > 0)
        {
            <div class="product-review-list">
                <div class="title">
                    <strong>@T("Reviews.ExistingReviews")</strong>
                </div>
                @foreach (var review in Model.Items)
                {
                    var ratingPercent = review.Rating * 20;
                <div class="product-review-item">
                    <div class="review-item-head">
                        <div class="review-title">
                            <strong>@review.Title</strong>
                        </div>
                        <div class="product-review-box">
                            <div class="rating">
                                <div style="width: @(ratingPercent)%">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="review-text">
                        @Html.Raw(Nop.Core.Html.HtmlHelper.FormatText(review.ReviewText, false, true, false, false, false, false))
                    </div>
                    @foreach (var reviewType in review.AdditionalProductReviewList.Where(x => x.Rating > 0 && x.VisibleToAllCustomers))
                    {
                        var ratingExtPercent = reviewType.Rating * 20;
                        <div class="review-type-rating-ext">
                            <div class="review-title">
                                <i>@reviewType.Name</i>
                            </div>
                            <div class="product-review-box">
                                <div class="rating">
                                    <div style="width: @(ratingExtPercent)%">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br /><br />
                    }
                    <div class="review-info">
                        <span class="user">
                            <strong>@T("Reviews.From"):</strong>
                            @if (review.AllowViewingProfiles)
                            {
                                <a href="@Url.RouteUrl("CustomerProfile", new { id = review.CustomerId })">@(review.CustomerName)</a>
                            }
                            else
                            {
                                @review.CustomerName
                            }
                        </span>
                        <span class="separator">|</span>
                        <span class="date">
                            <strong>@T("Reviews.Date"):</strong>
                            @review.WrittenOnStr
                        </span>
                    </div>
                    @await Html.PartialAsync("_ProductReviewHelpfulness", review.Helpfulness)
                    @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.ProductReviewsPageInsideReview, additionalData = review })
                    @if (!string.IsNullOrEmpty(review.ReplyText))
                    {
                        <div class="reply">
                            <div class="reply-header">
                                @T("Reviews.Reply")
                            </div>
                            <div class="reply-text">
                                @Html.Raw(Nop.Core.Html.HtmlHelper.FormatText(review.ReplyText, false, true, false, false, false, false))
                            </div>
                        </div>
                    }
                </div>
                }
            </div>
        }
        @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.ProductReviewsPageBottom, additionalData = Model })
    </div>
</div>
