﻿ 
@{
    Layout = "_ConfigurePlugin";
}
@model ConfigurationModel
@using  Nop.Plugin.Payments.OpenPayCards.Models

<form asp-controller="PaymentOpenPayCards" asp-action="Configure" method="post">
    <div class="panel-group">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="form-group">
                    <div class="col-md-3">
                        <nop-label asp-for="MerchantId" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="MerchantId" />
                        <span asp-validation-for="MerchantId"></span>
                    </div>
                </div>
				<div class="form-group">
                    <div class="col-md-3">
                        <nop-label asp-for="PublicApiKey" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="PublicApiKey" />
                        <span asp-validation-for="PublicApiKey"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <nop-label asp-for="PrivateApiKey" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="PrivateApiKey" />
                        <span asp-validation-for="PrivateApiKey"></span>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-3">
                        <nop-label asp-for="UseSandbox" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="UseSandbox" />
                        <span asp-validation-for="UseSandbox"></span>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-3">
                        <nop-label asp-for="TestShippingReference" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="TestShippingReference" />
                        <span asp-validation-for="TestShippingReference"></span>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-3">
                        <nop-label asp-for="CustomerEmailFake" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="CustomerEmailFake" />
                        <span asp-validation-for="CustomerEmailFake"></span>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-3">
                        <nop-label asp-for="VendorEmailFake" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="VendorEmailFake" />
                        <span asp-validation-for="VendorEmailFake"></span>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-3">
                        <nop-label asp-for="AdditionalFee" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="AdditionalFee" />
                        <span asp-validation-for="AdditionalFee"></span>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-3">
                        <nop-label asp-for="AdditionalFeePercentage" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="AdditionalFeePercentage" />
                        <span asp-validation-for="AdditionalFeePercentage"></span>
                    </div>
                </div>


                <hr>
                <h2>Configuraciones Smtp </h2>

 


                <div class="form-group">
                    <div class="col-md-3">
                        <nop-label asp-for="SMTPSubjectPakke" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="SMTPSubjectPakke" />
                        <span asp-validation-for="SMTPSubjectPakke"></span>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-3">
                        <nop-label asp-for="MessagePakke" />
                    </div>
                    <div class="col-md-9">
                        <nop-textarea asp-for="MessagePakke" contenteditable="true" />
                        <span asp-validation-for="MessagePakke"></span>
                    </div>
                </div>



                <div class="form-group">
                    <div class="col-md-9 col-md-offset-3">
                        <button type="submit" class="btn btn-primary">
                            @T("Admin.Common.Save")
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
