﻿@model Nop.Plugin.Payments.OpenPay.Models.PaymentInfoModel
@using Nop.Web.Framework;
@{
    Layout = "";
}
@inject Nop.Core.IWorkContext workContext
@inject OpenPaySettings openPaypaymentSettings
@inject Nop.Core.Domain.Orders.OrderSettings orderSettings

<input type="hidden" asp-for="Token">
<input type="hidden" asp-for="Errors">
<style>
    .invisibleTheme {
        visibility: hidden;
        width: 0px !important;
        height: 0px !important;
    }
</style>
@if (!Model.IsGuest && Model.StoredCards.Any())
{
    <table width="100%" cellspacing="2" cellpadding="1" border="0">
        <tr>
            <td>
                <label asp-for="StoredCardId">@T("Plugins.Payments.OpenPay.Fields.StoredCard"):</label>
            </td>
            <td>
                <select asp-for="StoredCardId" asp-items="Model.StoredCards" class="dropdownlists"></select>
            </td>
        </tr>
    </table>
}

<table width="100%" cellspacing="2" cellpadding="1" border="0" id="openpay-card-details">
    <tr>
        <td>
            &nbsp;
        </td>
        <td>
            <img src="@Url.Content("~/Plugins/Payments.OpenPay/cards.jpg")" alt="" />
        </td>
    </tr>
    <tr>
        <td>
            <label asp-for="CardType">@T("Payment.SelectCreditCard"):</label>
        </td>
        <td>
            <select asp-for="CardType" asp-items="Model.CardTypes" class="dropdownlists"></select>
        </td>
    </tr>

    <tr>
        <td>
            <label asp-for="CardHolderName">@T("Payment.CardHolderName"):</label>
        </td>
        <td>
            <input type="text" asp-for="CardHolderName" style="width:165px;" autocomplete="off" maxlength="22" />
            <span asp-validation-for="CardHolderName"></span>
        </td>
    </tr>
    <tr>
        <td>
            <label asp-for="CardNumber">@T("Payment.CardNumber"):</label>
        </td>
        <td>
            <input type="text" asp-for="CardNumber" id="CardNumber" style="width:165px;" autocomplete="off" maxlength="22" />
            <span asp-validation-for="CardNumber"></span>
        </td>
    </tr>
    <tr>
        <td>
            <label asp-for="ExpireMonth">@T("Payment.ExpirationDate"):</label>
        </td>
        <td>
            <select asp-for="ExpireMonth" asp-items="Model.ExpireMonths"></select>
            /
            <select asp-for="ExpireYear" asp-items="Model.ExpireYears"></select>
        </td>
    </tr>
    <tr>
        <td>
            <label asp-for="CardCode">@T("Payment.CardCode"):</label>
        </td>

        <td>
            <input type="text" asp-for="CardCode" style="width:60px;" autocomplete="off" maxlength="4" />
            <span asp-validation-for="CardCode"></span>


        </td>

        <td>
            <input type="text" asp-for="DeviceId" class="invisibleTheme" autocomplete="off" />

        </td>
    </tr>
</table>



<script type="text/javascript">
    (function () {
        OpenPay.setId('@openPaypaymentSettings.MerchantId');
        OpenPay.setApiKey('@openPaypaymentSettings.MerchantKey');
        if ('@openPaypaymentSettings.UseSandbox'.toLowerCase() ==='true') {
            console.log('Using sandbox mode');
            OpenPay.setSandboxMode(true);
        }
        var deviceDataId = OpenPay.deviceData.setup("co-payment-info-form");
        console.log('Este es el device id ');
        console.log(deviceDataId);
        $('#DeviceId').val(deviceDataId);

    })();
</script>