﻿@model Nop.Plugin.Payments.OpenPayCards.Models.PaymentInfoModel
@using Nop.Web.Framework;
@{
    Layout = "";
}
@inject Nop.Core.IWorkContext workContext
@inject OpenPayCardsSettings openPayCardspaymentSettings
@inject Nop.Core.Domain.Orders.OrderSettings orderSettings

<input type="hidden" asp-for="token_id">

<input type="hidden" asp-for="Errors">
<style>
    .invisibleTheme {
        visibility: hidden !important;
        width: 0px !important;
        height: 0px !important;
    }
</style>
@if (!Model.IsGuest && Model.StoredCards.Any())
{
    <table width="100%" cellspacing="2" cellpadding="1" border="0">
        <tr>
            <td>
                <label asp-for="StoredCardId">@T("Plugins.Payments.OpenPayCards.Fields.StoredCard"):</label>
            </td>
            <td>
                <select asp-for="StoredCardId" asp-items="Model.StoredCards" class="dropdownlists"></select>
            </td>
        </tr>
    </table>
}
<table width="100%" cellspacing="2" cellpadding="1" border="0" id="openpay-card-details">
   
	<tr style="font-weight:bold; ">
        <td   style="text-align:center; width:400px !important">
            <label  > Tarjetas de credito:</label>			 
        </td>
		
        <td>
           <label> &nbsp; Tarjetas de debito:</label>		 
        </td>
    </tr>
	<tr>
        <td   style="width:400px !important">          
			 <img src="@Url.Content("~/Plugins/Payments.OpenPayCards/cards.jpg")" alt="" />
        </td>
        <td>       
			 <img src="@Url.Content("~/Plugins/Payments.OpenPayCards/cards2.png")" alt="" />
        </td>
    </tr>


    <tr>
        <td>
            <label asp-for="CardHolderName">Nombre del titular:</label>
        </td>
        <td>
            <input type="text"    style="width:165px;" autocomplete="off" maxlength="50" id="CardHolderName" data-openpay-card="holder_name" />
            <span asp-validation-for="CardHolderName"></span>
        </td>
    </tr>
    <tr>
        <td>
            <label asp-for="CardNumber">@T("Payment.CardNumber"):</label>
        </td>
        <td>
            <input type="text"   id="CardNumber" style="width:165px;" autocomplete="off" maxlength="16"  id="CardNumber" data-openpay-card="card_number"   onkeyup="this.value=this.value.replace(/[^\d]/,'')"/>
            <span asp-validation-for="CardNumber"></span>
        </td>
    </tr>
 
    <tr>
        <td>
            Mes(MM):
        </td>
        <td>
              <input type="text"   style="width:60px;"  id="ExpireMonth" maxlength="2"  data-openpay-card="expiration_month"    onkeyup="this.value=this.value.replace(/[^\d]/,'')"/> 
            
        </td>
    </tr>

	  <tr>
        <td>
            Año(YY):
        </td>
        <td>
            
             <input type="text"  style="width:60px;"   id="ExpireYear" maxlength="2"  data-openpay-card="expiration_year"   onkeyup="this.value=this.value.replace(/[^\d]/,'')"/> 
        </td>
    </tr>
    <tr>
        <td>
            <label asp-for="CardCode">@T("Payment.CardCode"):</label>
        </td>

        <td>
            <input type="text"  asp-for="CardCode"  style="width:60px;" autocomplete="off" maxlength="4" id="CardCode"   data-openpay-card="cvv2"   onkeyup="this.value=this.value.replace(/[^\d]/,'')" />
            <span asp-validation-for="CardCode"></span>


        </td>

        <td>
            <input type="text" asp-for="DeviceId" class="invisibleTheme" autocomplete="off"  id="DeviceId" />

			

        </td>
    </tr>
	 <tr>
         <td style="text-align:center !important; font-weight:bold">
		 Transacciones realizadas vía:
		 
        </td>
		<td>
			<img src="@Url.Content("~/Plugins/Payments.OpenPayCards/openpay_oscuro.png")"   / >     
		</td> 
         
    </tr>
	
	 <tr>
         <td>
		<img src="@Url.Content("~/Plugins/Payments.OpenPayCards/security.png")"   / >     
        </td>
		<td>
			 <label style="font-weight:bold">Tus pagos se realizan de forma segura con encriptación de 256 bits </label>
		</td>  
         
    </tr>



<script type="text/javascript">
    (function () {

		 openPay.init('@openPayCardspaymentSettings.MerchantId','@openPayCardspaymentSettings.PublicApiKey','@openPayCardspaymentSettings.UseSandbox'); 

    })();
</script>