﻿@model ProductDetailsModel

@if ((Model.FreeShippingNotificationEnabled && Model.IsFreeShipping) || !string.IsNullOrWhiteSpace(Model.DeliveryDate))
{
    <div class="delivery">
 
        <script asp-location="Footer">
            $(document).on("product_attributes_changed", function (data) {
                if (data.changedData.isFreeShipping) {
                    $(".free-shipping").addClass("visible");
                } else {
                    $(".free-shipping").removeClass("visible");
                }
            });
        </script>
        @if (Model.FreeShippingNotificationEnabled && Model.IsFreeShipping)
        {
            <div class="free-shipping"><i class="fa fa-truck"></i> <strong>@T("Products.FreeShipping")</strong></div>
        }
        @if (!string.IsNullOrWhiteSpace(Model.DeliveryDate))
        {
            <div class="delivery-date">
                <strong>@T("Products.DeliveryDate"):</strong>
                <span class="value">@Model.DeliveryDate</span>
            </div>
        }
    </div>
}