﻿@model ProductDetailsModel.GiftCardModel

@if (Model.IsGiftCard)
{
    <div class="giftcard">
 
            <div class="form-group row">
                <div class="col-sm-4 col-md-4">
                    <label asp-for="RecipientName" class= "control-label" asp-postfix=":"></label>
                </div>
                <div class="col-sm-8 col-md-8">
                    <input asp-for="RecipientName" class="recipient-name form-control" />
                </div>
            </div>

            @if (Model.GiftCardType == Nop.Core.Domain.Catalog.GiftCardType.Virtual)
            {
                <div class="form-group row">
                    <div class="col-sm-4 col-md-4">
                        <label asp-for="RecipientEmail" class="control-label" asp-postfix=":"></label>
                    </div>
                    <div class="col-sm-8 col-md-8">
                        <input asp-for="RecipientEmail" class="recipient-email form-control" />
                    </div>
                </div>
            }
            <div class="form-group row">
                <div class="col-sm-4 col-md-4">
                    <label asp-for="SenderName" class="control-label" asp-postfix=":"></label>
                </div>
                <div class="col-sm-8 col-md-8">
                    <input asp-for="SenderName" class="sender-name form-control" />
                </div> 
            </div>
            @if (Model.GiftCardType == Nop.Core.Domain.Catalog.GiftCardType.Virtual)
            {
                <div class="form-group row">
                    <div class="col-sm-4 col-md-4">
                        <label asp-for="SenderEmail" class="control-label" asp-postfix=":"></label>
                    </div>
                    <div class="col-sm-8 col-md-8">
                        <input asp-for="SenderEmail" class="sender-email form-control" />
                    </div>           
                </div>
            }
            <div class="form-group row">
                <div class="col-sm-4 col-md-4">
                    <label asp-for="Message" class="control-label" asp-postfix=":"></label>
                </div>
                <div class="col-sm-8 col-md-8">
                    <textarea asp-for="Message" class="message form-control"></textarea>
                </div>
            </div>
			 
    </div>
}       