﻿@model IList<ProductSpecificationModel>
@using Nop.Core.Domain.Catalog;

@if (Model.Count > 0)
{
    <div class="product-specs-box">
 
        <div class="panel panel-default">
            <table class="data-table table table-bordered table-condensed table-striped">
                <colgroup>
                    <col width="25%" />
                    <col />
                </colgroup>
                <tbody>
                    @for (var i = 0; i < Model.Count; i++)
                    {
                        var item = Model[i];
                        <tr @(i % 2 == 0 ? Html.Raw(" class=\"odd\"") : Html.Raw(" class=\"even\""))>
                            <td class="a-left spec-name">
                                @item.SpecificationAttributeName
                            </td>
                            <td class="a-left spec-value">
						 
                                @if (!string.IsNullOrEmpty(item.ColorSquaresRgb) && (item.AttributeTypeId == (int)SpecificationAttributeType.Option))
                                {
                                    <div class="color-squares">
                                        <span class="color-container" title="@Html.Raw(item.ValueRaw)">
                                            <span class="color" style="background-color: @(item.ColorSquaresRgb);">&nbsp;</span>
                                        </span>
                                    </div>
                                }
                                else
                                {
                                    @Html.Raw(item.ValueRaw)
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
}