﻿@model CheckoutCompletedModel
@{
    Layout = "_ColumnsOne";

    //title
    Html.AddTitleParts(T("PageTitle.Checkout").Text);
    //page class
    Html.AppendPageCssClassParts("html-checkout-page");
    Html.AppendPageCssClassParts("html-order-completed-page");
}
<div class="page checkout-page order-completed-page">
    @if (!Model.OnePageCheckoutEnabled)
    {
        @await Component.InvokeAsync("CheckoutProgress", new { step = CheckoutProgressStep.Complete })
    }
    <div class="page-title">
        <h1>@T("Checkout.ThankYou")</h1>
    </div>
    <div class="page-body checkout-data">
        @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.CheckoutCompletedTop, additionalData = Model })
        <div class="section order-completed">
            <div class="title">


                <strong>@T("Checkout.YourOrderHasBeenSuccessfullyProcessed")</strong>
            </div>
            <div class="details">
                <div class="order-number">
                    <strong>@T("Checkout.OrderNumber"): @Model.CustomOrderNumber</strong>
                </div>

                <!--New code added by jesus-->
                @if (!string.IsNullOrEmpty(Model.PaymentReference))
                {
                    <div class="">
                        <ul style="text-align:justify !important ; padding-left:300px;">
                            <li>
                                1. Ir a la tienda afiliada mas cercana

                            </li>
                            <li>
                                2. Menciona al empleado que quieres pagar un servicio Paynet
                            </li>
                            <li>
                                3. Dictale este código al cajero: <strong style="font-weight:bold; font-size:large"> @Model.PaymentReference</strong><br />
                                <img src="@Model.PaymentUrlBarCode" alt="Código de barras" />
                            </li>

                            <li>
                                Puede obtener su referencia en PDF
                                <a href="@Model.PaymentReferencePDFURL" download="Referencia de pago Legado Mexico.pdf" target="_blank">Aquí</a>

                            </li>

                        </ul>
                    </div>
                }

                <!--End New code Jesus-->
                <div class="details-link">
                    <a href="@Url.RouteUrl("OrderDetails", new { orderID = Model.OrderId })">@T("Checkout.PlacedOrderDetails")</a>
                </div>
            </div>
            <div class="buttons">
                <input type="button" value="@T("Checkout.ThankYou.Continue")" class="button-1 order-completed-continue-button" onclick="setLocation('@Url.RouteUrl("HomePage")')" />
            </div>
        </div>
        @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.CheckoutCompletedBottom, additionalData = Model })
    </div>
</div>
