﻿@model ForumBreadcrumbModel
@using Nop.Core.Domain.Common
@inject CommonSettings commonSettings
@{
    var breadcrumbDelimiter = commonSettings.BreadcrumbDelimiter;
}
<div class="forum-breadcrumb breadcrumb-wrapper ">
    <ul class="breadcrumb">
        <li>
            <a href="@Url.RouteUrl("HomePage")" title="@T("Forum.Breadcrumb.HomeTitle")">@T("Forum.Home")</a>
        </li>
        <li>
            @Html.RouteLink(T("Forum.Forums").Text, "Boards", null, new { title = T("Forum.Breadcrumb.ForumHomeTitle") })
        </li>
        @if (Model.ForumGroupId > 0)
        {
            <li>
                @Html.RouteLink(Model.ForumGroupName, "ForumGroupSlug",
                new { id = Model.ForumGroupId, slug = Model.ForumGroupSeName },
                new { title = $"{T("Forum.Breadcrumb.ForumGroupTitle")}: {Model.ForumGroupName} " })
            </li>
        }
        @if (Model.ForumId > 0)
        {
            <li>
                @Html.RouteLink(Model.ForumName, "ForumSlug",
                 new { id = Model.ForumId, slug = Model.ForumSeName },
                 new { title = $"{T("Forum.Breadcrumb.ForumTitle")}: {Model.ForumName} " })
            </li>
        }
        @if (Model.ForumTopicId > 0)
        {
            <li>
                @Html.RouteLink(Model.ForumTopicSubject, "TopicSlug",
                new { id = Model.ForumTopicId, slug = Model.ForumTopicSeName },
                new { title = $"{T("Forum.Breadcrumb.TopicTitle")}: {Model.ForumTopicSubject} " })
            </li>
        }
    </ul>
</div>
