﻿@model IList<CategoryModel>

@if (Model.Count > 0)
{
    <div class="category-grid home-page-category-grid row">
        <div class="title sub-title col-md-12">
            <strong>@T("Categories")</strong>
        </div>
        @if (Model.Count <= 3)
        {
            foreach (var item in Model)
            {
                <div class="item-box col-xs-12 col-sm-4 col-md-4">
			 
                    <div class="category-item">
                        <h3 class="title">
                            <a href="@Url.RouteUrl("Category", new { SeName = item.SeName })" title="@item.PictureModel.Title"> @item.Name</a>
                        </h3>
						<br/>
                        <div class="picture">
                            <a href="@Url.RouteUrl("Category", new { SeName = item.SeName })" title="@item.PictureModel.Title">
                                <img alt="@item.PictureModel.AlternateText" src="@item.PictureModel.ImageUrl" title="@item.PictureModel.Title" />
                            </a>
                        </div>
                    </div>
                </div>
            }
        }
        else
        {
            <div id="home-category-slider" class="home-category-slider owl-carousel owl-theme">
                @foreach (var item in Model)
                {
                    <div class="item-box col-xs-12 col-sm-12 col-md-12">
                        <div class="category-item">
                           
                            <div class="picture">

                                <a href="@Url.RouteUrl("Category", new { SeName = item.SeName })" title="@item.PictureModel.Title">
                                    <img alt="@item.PictureModel.AlternateText" src="@item.PictureModel.ImageUrl" title="@item.PictureModel.Title" />
                                </a>
                            </div>
                        </div>
                    </div>
                }
            </div>
        }
    </div>
}
