﻿@model ForumPostModel
@using Nop.Core
@inject IWebHelper webHelper;
@{
    var thisPageUrl = webHelper.GetThisPageUrl(true);
}

<div class="forum-post" id="@Html.Encode($"post{Model.Id}")">
    <div class="post-info">
        <div class="manage">
            @if (Model.IsCurrentCustomerAllowedToEditPost)
            {
                <i class="fa fa-pencil"></i>  @Html.RouteLink(T("Forum.EditPost").Text, "PostEdit", new { id = Model.Id }, new { @class = "edit-post-link-button" })
            }
            @if (Model.IsCurrentCustomerAllowedToDeletePost)
            {
                <i class="fa fa-trash-o"></i> <a href="#" class="delete-post-button" onclick="return deletepost(@(Model.Id))">@T("Forum.DeletePost").Text</a>
            }
        </div>
        <div class="user-info">
            @if (Model.AllowViewingProfiles)
            {
                @Html.RouteLink(Model.CustomerName, "CustomerProfile", new { id = Model.CustomerId }, new { @class = "username" })
            }
            else
            {
                <span class="username">@Model.CustomerName</span>
            }
            @if (!string.IsNullOrEmpty(Model.CustomerAvatarUrl))
            {
                <div class="avatar">
                    @if (Model.AllowViewingProfiles)
                {
                        <a href="@Url.RouteUrl("CustomerProfile", new { id = Model.CustomerId })" class="avatar-img-link">
                            <img src="@(Model.CustomerAvatarUrl)" class="avatar-img" alt="Avatar" />
                        </a>
                    }
                    else
                    {
                        <img src="@(Model.CustomerAvatarUrl)" class="avatar-img" alt="Avatar" />
                    }
                </div>
            }
            <ul class="user-stats clearfix">
                @if (Model.IsCustomerForumModerator)
                {
                    <li class="status">
                        <label>@T("Forum.Status"):</label>
                        <span>@T("Forum.Moderator")</span>
                    </li>
                }
                @if (Model.ShowCustomersPostCount)
                {
                    <li class="total-posts">
                        <label>@T("Forum.TotalPosts"):</label>
                        <span>@Model.ForumPostCount</span>
                    </li>
                }
                @if (Model.ShowCustomersJoinDate)
                {
                    <li class="joined">
                        <label>@T("Forum.Joined"):</label>
                        <span>@Model.CustomerJoinDate.ToString("d")</span>
                    </li>
                }
                @if (Model.ShowCustomersLocation && !string.IsNullOrEmpty(Model.CustomerLocation))
                {
                    <li class="location">
                        <label>@T("Forum.Location"):</label>
                        <span>@Model.CustomerLocation</span>
                    </li>
                }
            </ul>
            @if (Model.AllowPrivateMessages)
            {
                <div class="send-pm-box">
                    <i class="fa fa-user"></i>@Html.RouteLink(T("Forum.PrivateMessages.PM").Text, "SendPM", new { toCustomerId = Model.CustomerId }, new { @class = "pm-link-button" })
                </div>
            }
        </div>
    </div>
    <div class="post-content">
        <div class="posttime">
            <div class="pull-left">
                @T("Forum.Posted"): <span class="stat-value">@Model.PostCreatedOnStr</span>
            </div>
            <div class="pull-right">
                <a id="@Model.Id" title="@T("Forum.PostLinkTitle")" class="post-link-button" href="@(thisPageUrl)#@(Model.Id)">#@(Model.Id)</a>
                @Html.RouteLink(T("Forum.QuotePost").Text, "PostCreateQuote", new { id = Model.ForumTopicId, quote = Model.Id }, new { @class = "quote-post-link-button" })
                @if (Model.AllowPostVoting)
                {
                    <script asp-location="Footer">
                        $(document).ready(function () {
                            var post = '#post-vote-' + @Model.Id;
                            $(post + ' span.vote').on('click', function () {
                                var postData = {
                                    postId: @Model.Id,
                                    IsUp: $(this).hasClass('up')
                                };
                                addAntiForgeryToken(postData);
                                $.ajax({
                                    cache: false,
                                    type: "POST",
                                    url: '@Url.Action("PostVote", "Boards")',
                                    data: postData,
                                    success: function (data) {
                                        if (data.Error) {
                                            alert(data.Error);
                                        }
                                        else {
                                            $(post + ' div.vote-count-post').html(data.VoteCount);
                                            $(post + ' span.up').removeClass('selected');
                                            $(post + ' span.down').removeClass('selected');
                                            if (data.IsUp) {
                                                $(post + ' span.up').addClass('selected');
                                            }
                                            if (data.IsUp == false) {
                                                $(post + ' span.down').addClass('selected');
                                            }
                                        }
                                    },
                                    error: function (xhr, ajaxOptions, thrownError) {
                                        alert('Failed to vote');
                                    }
                                });
                            });
                        });
                    </script>
                    <div class="post-vote" id="@($"post-vote-{Model.Id}")">
                        <span class="vote up @if (Model.VoteIsUp.HasValue && (bool) Model.VoteIsUp){<text>selected</text>}"
                              title="This post/answer is useful"></span>
                        <div class="vote-count-post"> @Model.VoteCount </div>
                        <span class="vote down @if (Model.VoteIsUp.HasValue && (bool)!Model.VoteIsUp) { <text>selected</text> }"
                              title="This post/answer is not useful"></span>
                    </div>
                }
            </div>
        </div>
        <div class="post-body">
            <div class="posttext">
                @Html.Raw(Model.FormattedText)
            </div>
        </div>
        @if (Model.SignaturesEnabled & !string.IsNullOrEmpty(Model.FormattedSignature))
        {
            <div class="signature">
                @Html.Raw(Model.FormattedSignature)
            </div>
        }
    </div>
</div>

