﻿@model IList<ProductOverviewModel>

@if (Model.Count > 0)
{
<div class="product-grid home-page-product-grid row">
    <div class="title sub-title col-md-12">
        <strong>@T("HomePage.Products")</strong>
    </div>
        @if(Model.Count<=3)
        {
             foreach (var item in Model)
            {
                <div class="item-box product-grid col-xs-12 col-sm-4 col-md-4 product-align clearfix">
                    <div class="thumbnail">
                        @await Html.PartialAsync("_ProductBox", item)
                    </div>
                </div>
            }
        }
        else
        {
            <div id="home-features-slider" class="home-features-slider owl-carousel owl-theme">
                @foreach (var item in Model)
                {
                    <div class="item-box product-grid col-xs-12 col-sm-12 col-md-12 product-align clearfix">
                        <div class="thumbnail">
                            @await Html.PartialAsync("_ProductBox", item)
                        </div>
                    </div>
                }
            </div>
        }
    </div>

    
}