﻿@model Nop.Plugin.Payments.OpenPayStore.Models.PaymentInfoModel
@{
    Layout = "";
}
@inject Nop.Core.IWorkContext workContext
@inject OpenPayStoreSettings openPaypaymentSettings
@inject Nop.Core.Domain.Orders.OrderSettings orderSettings

<style>
    .invisibleTheme {
        visibility: hidden;
    }
</style> 
<h2>Se enviará un email con su referencia de pago y su código de barras, debe imprimirlo y mostrarlo en las tiendas afiliadas </h2>
